@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: #659e28;
}

.h1 {
  @apply font-bold text-[3rem] md:text-[4rem] leading-none;
}
.h2 {
  @apply font-semibold text-[2.25rem] md:text-[3rem] leading-none;
}
.h3 {
  @apply font-semibold text-[1.5rem] md:text-[2rem] leading-none;
}
.h4 {
  @apply text-[1rem] md:text-[1.25rem] leading-none uppercase;
}
.p {
  @apply text-[0.875rem] md:text-[1rem] leading-normal text-[#151515];
}

a{
  @apply cursor-pointer
}

.btn {
  @apply p-3 flex items-center justify-center text-base bg-[--primary-color] max-w-max max-h-max text-white rounded-lg shadow-md transition-all duration-300;
}
.btn:hover{
  @apply bg-[#fff] text-[#151515];
}
.btn_secondary {
  @apply p-3 flex items-center justify-center text-base bg-white max-w-max max-h-max border-solid outline outline-1 outline-[--primary-color] shadow-md border-[--primary-color] text-[--primary-color] rounded-lg transition-all duration-300;
}
.btn_secondary:hover{
  @apply bg-[--primary-color] text-[#ffffff];
}
.btn_secondary-transparent {
  @apply p-3 flex items-center justify-center text-base max-w-max max-h-max border-solid outline outline-1 outline-[--primary-color] shadow-md border-[--primary-color] text-[--primary-color] rounded-lg transition-all duration-300;
}
.btn_secondary-transparent:hover{
  @apply bg-[--primary-color] text-[#ffffff];
}


.banner {
  background-image: url('../images/finalcta.webp');
  background-size: cover;
  background-position:center;
}